.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(  https://images.ctfassets.net/hrltx12pl8hq/6QpKgim9qMgGK8QG2a6gaC/2de28b955c0cf902004fecd1a1e62bee/sub-category-1.jpg?fit=fill&w=368&h=207);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color: white;
    font-family: 'Lucida Sans';
    margin:0;
}